.wrapper {
    background: url("./images/Bitmap1.jpg");
    background-size: cover;
}

main {
    padding: 76px 163px 118px 166.5px;
}

.destination {
    margin-top: 64px;
    padding-left: 63.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.destination_nav {
    display: flex;
    gap: 36px;
    margin-right: 159.5px;
    padding-bottom: 12px;
}

.destination_nav .nav-text {
    color: #D0D6F9;
    padding-bottom: 12px;
}

.destination_nav {
    color: #FFFFFF;
    cursor: pointer;
}

.destination_nav .active {
    border-bottom: 3px solid #FFFFFF;
    opacity: 1;
}

.destination_nav-item {
    opacity: 0.5;
}

.container_destination {
    gap: 157px;
    justify-content: center;
    align-items: center;
    display: none;
}

.active {
    display: flex;
}

.container_description {
    padding-bottom: 53px;
    border-bottom: 1px solid #FFFFFF;
}

.container_description .heading-2 {
    margin-bottom: 16px;
}

.container_infor {
    margin-top: 28px;
    display: flex;
    align-items: center;
    gap: 75px;
}

.container_infor div {
    display: flex;
    flex-direction: column;
    gap: 17px;
}


@media screen and (max-width: 769px) {
    main {
        padding: 40px 39px 62px;
    }

    .destination {
        margin: 0 59px 0;
        align-items: center;
        padding: 0;
    }

    .container_destination {
        margin-top: 53px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .container_destination img {
        width: 300px;
        height: 300px;
    }

    .destination_nav {
        margin: 0;
    }

    .container_description {
        padding-bottom: 49px;
    }

    .container_description .heading-2 {
        margin-bottom: 8px;
    }

    .container_infor {
        justify-content: space-around;
    }

    @media screen and (max-width: 376px) {
        main {
            padding: 24px 24px 58px;
        }

        .destination {
            margin: 0;
        }

        .container_destination {
            gap: 20px;
        }

        .container_destination img {
            width: 170px;
            height: 170px;
        }
        
        .destination_nav label {
            font-size: 14px;
            letter-spacing: 2.35px;
        }

        .container_description {
            padding-bottom: 32px;
        }

        .container_infor {
            margin-top: 32px;
            flex-direction: column;
            gap: 32px;
        }
    }
}
